<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>brack3t</title>
    <meta name="description" content="">
    <meta name="author" content="Brack3t, aka Kenneth Love and Chris Jones">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Alegreya:400,900,900italic,400italic,700,700italic" rel="stylesheet">
    <link href=".././brack3t-theme/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href=".././brack3t-theme/assets/bootstrap/css/brack3t.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
        <div class="row">
            <div class="span6">
                <header id="logo" role="banner">
                    <h1><a href="/">Brack3t</a></h1>
                </header>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4" id="main" role="main">
                <div class="page-header"><h1>brack3t <small>posts</small></h1></div>
                



    <article>
        <header>
            <h1></h1>
            <h2>Permalink: <a  href=".././.html">2012-02-20 23:47:15</a>
by <a class="url fn" href=".././author/Brack3t, aka Kenneth Love and Chris Jones.html">Brack3t, aka Kenneth Love and Chris Jones</a>


</h2>
        </header>
        <p>{% extends &quot;_post.html&quot; %}</p>
<p>{%load webdesign %}</p>
<dl class="docutils">
<dt>{%hyde</dt>
<dd>title: Semantic Snakeoil
created: 2011-10-03 21:31:43</dd>
</dl>
<div class="system-message">
<p class="system-message-title">System Message: WARNING/2 (<tt class="docutils">./posts/semantic_snakeoil.rst</tt>, line 8)</p>
Definition list ends without a blank line; unexpected unindent.</div>
<p>%}</p>
<p>{% block article %}
{% article %}</p>
<p>{% restructuredtext %}</p>
<div class="span2 offset2 figure">
<img alt="Semantic All The Thing" src="{{site.url}}/media/img/semantic.png" />
</div>
<p>For years now, we've been told that we should always use semantic class ...</p> <a class="btn primary xsmall" href=".././.html">more…</a>
    </article>






            </div>
            <aside class="span2" id="sidebar" role="complementary">
                <h2>Our menu</h2>
                <nav>
                    <ul>
                        
                        
                            
                        
                        <li><a href=".././pages/projects.html">Projects</a></li>
                        <li><a href=".././archives.html">Archives</a></li>
                        <li><a href=".././tags.html">Tags</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src=".././brack3t-theme/assets/jquery-1.7.1.min.js"></script>
    <script src=".././brack3t-theme/assets/jquery.slabtext.min.js"></script>
    <script src=".././brack3t-theme/assets/jquery.fittext.js"></script>
    <script>
        $(function() {
            $(".slabtext").slabText();
            $(".fittext").fitText(0.8);
        });
    </script>
  </body>
</html>
