<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">
    <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Exo:200,300,500,700,900,200italic,300italic,500italic,700italic,900italic" rel="stylesheet">
    <link href="{{ SITEURL }}/brack3t-theme/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ SITEURL }}/brack3t-theme/assets/github.css" rel="stylesheet">
    <link href="{{ SITEURL }}/brack3t-theme/assets/bootstrap/css/brack3t.css" rel="stylesheet">
    {% include "analytics.html" %}
  </head>

  <body>

    <div class="container">
        <div class="row">
            <div class="span6">
                <header id="logo" role="banner">
                    <h1><a href="/">Brack3t</a></h1>
                </header>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6" id="main" role="main">
                {% block indextitle %}<div class="page-header"><h1>{% block title %} {{ self.windowtitle() }} {% endblock %}</h1></div>{% endblock %}
                {% block content %}{% endblock %}
            </div>
            <aside class="span2" id="sidebar" role="complementary">
                <nav>
                    <ul class="unstyled">
                        {% for title, link in MENUITEMS %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                        {% if DISPLAY_PAGES_ON_MENU %}
                            {% for page in PAGES %}
                            <li><a href="{{ SITEURL }}/pages/{{ page.url }}">{{ page.title }}</a></li>
                            {% endfor %}
                        {% endif %}
                        <li><a href="{{ SITEURL }}/pages/projects.html">Projects</a></li>
                        <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
                        <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
        <footer><p>&copy; Brack3t. All rights reserved. <a href="{{ SITEURL }}/{{ FEED }}">ATOM feed</a></p></footer>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ SITEURL }}/brack3t-theme/assets/jquery-1.7.1.min.js"></script>
    <script src="{{ SITEURL }}/brack3t-theme/assets/jquery.slabtext.min.js"></script>
    <script src="{{ SITEURL }}/brack3t-theme/assets/jquery.fittext.js"></script>
    <script src="{{ SITEURL }}/brack3t-theme/assets/highlight.pack.js"></script>
    <script>
        $(function() {
            $(".slabtext").slabText();
            $(".fittext").fitText(0.8);
            $(".highlight pre").each(function(i, e) {hljs.highlightBlock(e, "    ")});
        });
    </script>
  </body>
</html>

